button {
  padding: 0.75rem 2.5rem;
  background-color: var(--color-nemo);
  cursor: pointer;
  color: var(--color-foam);
  font-size: 1.5rem;
  border-radius: 10px;
  width: fit-content;
  box-shadow: none;
  border: none;
  margin: 0 auto;
  font-weight: 600;
}

button:hover {
  background-color: var(--color-nemo-mid);
}
